.intro {
  display: flex;
  background-color: black;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.intro .intro-name {
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
}

.intro .intro-name .firstname {
  color: hotpink;
  font-size: 150px;
  margin: 0;
}

.intro .intro-name .lastname {
  background-color: hotpink;
  /* background: rgb(88,228,242);
  background: linear-gradient(90deg, rgba(88,228,242,1) 0%, rgba(198,249,249,1) 24%, rgba(229,203,242,1) 50%, rgba(238,70,167,1) 83%, rgba(242,27,129,1) 100%); */
  color: black;
  font-size: 90px;
  font-weight: bold;
  margin: 0;
  margin-top: -25px;
  padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 600px) {
  .intro {
    height: 105vh;
  }
  
  .intro .intro-name .firstname {
    font-size: 50px;
  }

  .intro .intro-name .lastname {
    font-size: 25px;
    margin-top: -5px;
    padding: 0px 15px 0px 15px;
  }

}
