.projects {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.projects .projects-title {
  display: flex;
  color:white;
  height: 20%;
  align-items:flex-end;
  justify-content: center;
}

.projects .projects-title h2 {
  font-size: 40px;
  color: hotpink;
}

.projects .projects-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}

.projects .projects-options .proj-options {
  background-color: white;
  border-radius: 1%;
  width: 300px;
  height: 400px;
  text-align: center;
}

.projects .projects-options .proj-options img {
  width: 90%;
  height: 200px;
  margin-top: 10px;
  border-radius: 1%;
  border: solid 2px;
  filter: grayscale(100%);
}

.projects .projects-options .proj-options img:hover {
  filter: grayscale(1%);
  border: solid 2px hotpink;
}

.projects .projects-options .proj-options .proj-links {
  display: flex;
  align-items: center;
  justify-content:center;
  color: hotpink;
  font-size: 40px;
  height: 70px;
}

.projects .projects-options .proj-options .proj-links svg {
  margin-top: 15px;
  margin-right: 10px;
}

.projects .projects-options .proj-options .proj-links a {
  text-align: center;
  color: hotpink;
  font-size: 40px;
  height: 70px;
}

@media screen and (max-width: 600px) {
  .projects {
    height: 100%;
  }
  
  .projects .projects-title {
    height: 20%;
  }
  
  .projects .projects-title h2 {
    font-size: 30px;
    margin-top: 40px;
  }

  .projects .projects-options {
    flex-wrap: wrap;
  }

  .projects .projects-options .proj-options {
    width: 200px;
    height: 260px;
    margin-bottom: 20px;
  }
  
  .projects .projects-options .proj-options img {
    width: 90%;
    height: 100px;
  }

  .projects .projects-options .proj-options .proj-links {
    font-size: 20px;
    height: 25px;
  }
  
}
